/* Elemental Styles */
html {background: yellow;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background: white;
    width: 650px;
    margin: 0 auto;
    border: 10px double blue;
    padding: 20px;

}

h1 {
    font-size: 150%;
    color: blue;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 125%;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 115%;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;

}
blockquote { 
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;

}

ul { 
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;

}
li {
    margin-top: 10px;
    margin-bottom: 10px;

}

cite {
    color: blue;
    font-style: normal;
}

.cite-paragraph {
    text-align: right;
    margin-bottom: 0.75em;
}

/* Main Content Styles */
main {
    padding: 20px;
}

img {
    float:left;
    margin-right: 20px;
}

/* Footer Content Styles */
footer {
    border-top: solid blue;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    
}